
@import "variables.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anek Odia', sans-serif;

}
html{
    font-size: 62.5%; /*1rem ==> 10px*/
}
body{
    width: 100%;
    grid-template-areas: 
    "header header header"
    "section section section"
    "footer footer footer";
}

/*HEADER SECTION*/
header{
    grid-area: header;
    display: grid;
    grid-template-rows: 10% 90%;
    gap: 3rem;
}



@each $red, $color  in $redes {
    #{$red}{
        background-color: $color;
    }
}

.header-menu{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    background-color: #F7797D;
}
    .header-menu-a{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: #ffffff;
        transition: 1s;
    }
    .header-menu-a:hover{
        letter-spacing: .2rem;
        color: map-get( $estilos , color);
    }

.nav-responsive{
    background-color: #F7797D;
    display: none;
    justify-content: space-between;
}


/*SECTION AREA*/


section{
    grid-area: section;
    background-color: #F7797D;
}
.container{
    display: flex;
}

.main-img{
    @include tamaño(500px,500px);
    padding: map-get($estilos , espacio );
}
.imagen{
    display: flex;
    justify-content: map-get($estilos , centrado);
}
.titulo{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    gap: 5rem;
    font-size: 1.8rem ;
}
.titulo-h1{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #000000;
    transition: 3s;
    min-width: 200px;
}
.titulo-h1:hover{
    color: gainsboro;
    letter-spacing: 5px;
}
/*FOOTER SECTION*/

footer{
    grid-area: footer;
    min-height: 1vh;
    display: flex;
    gap: 2rem;
    justify-content: map-get($estilos , centrado);
    text-transform: uppercase;
}




@media  (max-width: 768px){

    body{
        background-color: #F7797D;
        display: grid;
        grid-template-areas: 
        "header header header"
        "section section section"
        "footer footer footer";
        width: 100%;
    }
    header{
        grid-area: header;
    }
    .hijo-nav{
        display: flex;
    }
    .nav-responsive{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
        .nav-responsive1{
            padding: 10px;
            font-size: 2rem;
        }
        .nav-responsive2{
            padding: 10px;
            font-size: 2rem;
        }
        .div-instagramClass{
            display: none;
        }
    .header-menu{
        display: none;
    }
    
    

    .contenedor-presentacion{
            grid-area: section;
            padding: 1rem;
            display: grid;
            gap: 2rem;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
    }
        .presentacion-titulo{
            text-transform: uppercase;
        }
    footer{
            grid-area: footer;
            text-transform: uppercase;
            padding: 10px;
            display: flex;
            gap: 1rem;
    }
    
    
}

