* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Anek Odia', sans-serif;
}

html {
  font-size: 62.5%;
  /*1rem ==> 10px*/
}

body {
  width: 100%;
      grid-template-areas: "header header header" "section section section" "footer footer footer";
}

/*HEADER SECTION*/
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  display: -ms-grid;
  display: grid;
  width: 100%;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3rem;
  font-size: 1.5rem;
  list-style: none;
  text-transform: uppercase;
  color: #bbc7a4;
  background-color: #3c6e71;
  -webkit-transition: 5s;
  transition: 5s;
  cursor: pointer;
}

.hnav-li-a {
  color: #bbc7a4;
  text-decoration: none;
}

.hnav-li-a:hover {
  color: #000;
  text-decoration: none;
}

.header-nav-liresponsive {
  display: none;
}

header {
  background-color: #3c6e71;
}

section {
  background-color: #bbc7a4;
}

footer {
  background-color: #f2f5ea;
}

/*SECTION AREA*/
section {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: section;
  background-color: #3c6e71;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-img {
  height: 500px;
  width: 500px;
  padding: 1rem;
}

.imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titulo {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  gap: 5rem;
  font-size: 1.8rem;
}

.titulo-h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #bbc7a4;
  -webkit-transition: 3s;
  transition: 3s;
  min-width: 200px;
}

.titulo-h1:hover {
  color: gainsboro;
  letter-spacing: 5px;
}

/*FOOTER SECTION*/
.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  text-transform: uppercase;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-h1 {
  font-size: 2rem;
  margin: 1rem;
}

.svg3 {
  width: 25px;
  height: 25px;
  margin: 1rem;
}

/*CERVEZAS*/
.carousel {
  background-color: #bbc7a4;
}

.d-block {
  margin: 0 auto;
}

.img2 {
  width: 400px;
  height: 400px;
}

/*aside*/
.aside-contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  background-color: #bbc7a4;
}

aside div img {
  width: 320px;
  padding: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.aside-contenedor-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aside-titulo {
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

/*GALERIA*/
article {
  background: #bbc7a4;
}

article h1 {
  padding: 20px;
  text-transform: uppercase;
}

.main-padre {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 1rem;
}

article div img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid black;
  border-radius: 1rem;
}

/*QUIENES SOMOS*/
.nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: section;
  margin-top: 1rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.nav-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.nav-img {
  width: 300px;
  height: 300px;
  margin: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.nav-titulo {
  margin: 2rem;
  text-align: center;
  font-size: 3rem;
}

.nav-titulo h1 {
  padding: 2rem;
  color: #bbc7a4;
}

.nav-titulo p {
  text-align: left;
}

@media screen and (max-width: 500px) {
  body {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header header" "section section section" "footer footer footer";
    width: 100%;
    height: 100vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
    width: 100%;
  }
  .header-nav {
    display: none;
  }
  .header-nav-liresponsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .iconos-liresponsive {
    position: absolute;
    right: 0;
    width: 50%;
    background-color: #bbc7a4;
    height: 100vh;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .iconos-liresponsive:hover {
    width: 0;
  }
  .buttom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .img-home {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
  }
  .Img-buttom {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
  }
  header div img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
  .li-responsive {
    margin-top: 2rem;
    display: inline;
  }
  .li-responsive-a {
    display: block;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
  }
  section {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: section;
  }
  section .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 500px))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  }
  body main section {
    display: none;
  }
  aside {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: section;
  }
  aside .aside-contenedor {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 500px))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  }
  nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: section;
    margin-left: 1rem;
  }
  nav .form-check {
    margin-right: 2rem;
  }
}
/*# sourceMappingURL=index.css.map */