
@import "variables.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anek Odia', sans-serif;

}
html{
    font-size: 62.5%; /*1rem ==> 10px*/
}
body{
    width: 100%;
    grid-template-areas: 
    "header header header"
    "section section section"
    "footer footer footer";
}

/*HEADER SECTION*/
header{
    grid-area: header;
    display: grid;
    width: 100%;
}

.header-nav{
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    padding: 3rem;
    font-size: 1.5rem;
    list-style: none;
    text-transform: uppercase;
    color: map-get($map: $redes, $key:section) ;
    background-color: map-get($map: $redes, $key:header);
    transition: 5s;
    cursor: pointer;
}

.hnav-li-a{
    color: map-get($map: $redes, $key:section);
    text-decoration: none;
}
    .hnav-li-a:hover{
        color: #000;
        text-decoration: none;
    }


.header-nav-liresponsive{
    display: none;
}





@each $red, $color  in $redes {
    #{$red}{
        background-color: $color;
    }
}



/*SECTION AREA*/


section{
    grid-area: section;
    background-color: map-get($map: $redes, $key:header);
}
.container{
    display: flex;
}

.main-img{
    @include tamaño(500px,500px);
    padding: map-get($estilos , espacio );
}
.imagen{
    display: flex;
    justify-content: map-get($estilos , centrado);
}
.titulo{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    gap: 5rem;
    font-size: 1.8rem ;
}
.titulo-h1{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: map-get($map: $redes, $key:section );
    transition: 3s;
    min-width: 200px;
}
.titulo-h1:hover{
    color: gainsboro;
    letter-spacing: 5px;
}
/*FOOTER SECTION*/

.footer{
    grid-area: footer;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    
    .footer-h1{
        font-size: 2rem;
        margin: 1rem;
    }
  .svg3 {
    width: 25px;
    height: 25px;
    margin: 1rem;
     } 

                                                /*CERVEZAS*/


 .carousel{
     background-color: map-get($map: $redes, $key:section );
 }
 
        .d-block{
            margin: 0 auto;
        }
        .img2{
            width: 400px;
            height: 400px;  
        }
 
 
 /*aside*/
 .aside-contenedor{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     background-color: map-get($map: $redes, $key:section );
 }
 aside div img{
     width: 320px;
     padding: 20px;
     object-fit: contain;
 }
 .aside-contenedor-img{
     display: flex;
     justify-content: center;
 }
 .aside-titulo{
     text-transform: uppercase;
     color: #ffffff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 1rem;
 }
 
 

                                                    /*GALERIA*/

 article{
    background: map-get($map: $redes, $key: section );
    
}
article h1{
    padding: 20px;
    text-transform: uppercase;
}
.main-padre{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 10px;
    padding: 1rem;
}
article div img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 1rem;    
}                                                    

                                                    /*QUIENES SOMOS*/

  .nav{   
     grid-area: section;
     margin-top: 1rem;
     width: 100%;
     display: grid;
         grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
         gap: 1rem;
 }
     
     .nav-container{
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
         gap: 1rem; 
     }
     .nav-img{
         width: 300px;
         height: 300px;
         margin: 2rem;
         object-fit: contain;
         width: 100%;
     }
     
         .nav-titulo{
             margin: 2rem;
             text-align: center;
             font-size: 3rem;
         }
         .nav-titulo h1{
             padding: 2rem;
             color: map-get($map: $redes, $key:section );
         }
         .nav-titulo p{
             text-align: left;
         }
 
@media screen and  (max-width: 500px){

    body{
        display: grid;
        grid-template-areas: 
        "header header header"
        "section section section"
        "footer footer footer";
        width: 100%;
        height: 100vh;
        box-sizing: border-box;

    }
    header{
        grid-area: header;
        width: 100%;
    }
    .header-nav{
        display: none;
    }
    .header-nav-liresponsive{
        display: flex;
        justify-content: space-between;
    }
    .iconos-liresponsive{
        position: absolute;
        right: 0;
        width: 50%;
        background-color: map-get($map: $redes, $key:section );
        height: 100vh;  
        transition: 1s;
    }
    .iconos-liresponsive:hover{
        width: 0;
    }
    .buttom{
        display: flex;
        justify-content: end;
    }
    .img-home{
        width: 4rem;
        height: 4rem;
        margin: 1rem;
    }
    .Img-buttom{
        width: 3rem;
        height: 3rem;
        margin: 1rem;
    }
    header div img{
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
    }
    .li-responsive{
        margin-top: 2rem;
        display: inline;
    }
    .li-responsive-a{
        display: block;
        color: #ffffff;
        border: 1px solid #ffffff;
        padding: 1rem;
        text-transform: uppercase;
        text-decoration: none;
    }    
    
    section{
        grid-area: section;

        .container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
        }
    }
    body main section{
        display: none;
    }
    aside{
        grid-area: section;

        .aside-contenedor{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(300px, 500px));
        }
        
    }
    nav{
        grid-area: section;
        margin-left: 1rem;

        .form-check{
            margin-right: 2rem;
        }
    }
    
}