$redes: (
    header: #3c6e71,
    section: #bbc7a4,
    footer: #f2f5ea,    
);

$estilos:(
    color: #000,
    fuente: 1rem,
    espacio: 1rem,
    centrado: center,
);

@mixin tamaño($w,$h) {
    height: $h;
    width: $w;
}   